/* 노멀라이즈 */
*{
  padding: 0 ;
  margin: 0 ;
}
ul,li{
  list-style: none ;
}
a{
  color: inherit;
  text-decoration: none ;
}

/* 라이브러리 */
.row::after{
  display: block ;
  content: "";
  clear:  both;
}

.cell{
  float: left ;
}


/* 스타일 */
.top-bar-wrap{
  width: 100% ;
  height: 60px ;
  background-color: black ;
  position: relative ; 
}

.top-bar-wrap > .logo-box{
  width: 160px ;
  height: 60px ;
  position: absolute ;
  left: 30px ;
  top: 0 ;
  line-height: 70px ;
}
.top-bar-wrap > .logo-box > .logo-img{
  fill: white ;
}

.top-bar-wrap > .nav-box{
  color: white ;
  margin: 0 auto ;
  width: 500px ;
}
.top-bar-wrap > .nav-box > li{
  width: 20% ;
  text-align: center ; 
  line-height: 60px ;
  font-size: 20px ;
  font-weight: bold ;
  text-transform: uppercase ;
}  
.top-bar-wrap > .nav-box > li:hover{
  color: darkred ;
}

.top-bar-wrap > .nav-box > li > .nav-2-depth{  
  color: black ;
  line-height: normal ;
  font-weight: normal ;
  font-size: 16px ;
  width: 100% ;
  position: absolute ;
  left: 0 ;
  background-color: #ddd ;
  display: none ;
}
.top-bar-wrap > .nav-box > li:hover > .nav-2-depth{
  display: block ;
}
.top-bar-wrap > .nav-box > li > .nav-2-depth > ul {
  display: inline-block ;
  text-align: left ;
  margin-bottom: 20px ;
}
.top-bar-wrap > .nav-box > li > .nav-2-depth > ul > li{
  margin-right: 20px ;
  margin-top: 20px ;
}
.top-bar-wrap > .nav-box > li > .nav-2-depth > ul > li:last-child{
  margin-right: 0 ;
}
.top-bar-wrap > .nav-box > li > .nav-2-depth > ul > li > a{
  font-weight: bold ;
  font-size: 17px ;
}
.top-bar-wrap > .nav-box > li > .nav-2-depth > ul > li > ul{
  border-top: 1px solid black ;
  margin-top: 10px ;
}
.top-bar-wrap > .nav-box > li > .nav-2-depth > ul > li > ul > li {
  margin-top: 10px ;
}

.top-bar-wrap > .icon-box{
  position: absolute ;
  height: 60px ;
  color: white ;
  font-size: 18px ;
  line-height: 60px ;
  right: 0 ;
  top: 0 ;
}
.top-bar-wrap > .icon-box > i {
  margin-left: 10px ;
  margin-right: 10px ;
}